<li class="list-group-item comment-list-item">
   <div class="d-flex align-items-center justify-content-between">
       <div>
           <span><%= comment.content %></span>
           <span class="comment-author ml-2">- <%= comment.user.name %></span>
       </div>
       <div class="ml-auto">
           <% if (locals.user && locals.user.id === comment.user.id) { %>
            <a href="/comments/destroy/<%= comment._id %>">
               <i class="fas fa-trash-alt"></i>
           </a>
           <% } %>
       </div>
   </div>
</li>